/*格式化样式*/
*{margin:0;padding:0}
body{font:12px/1.5 MIcrosoft YaHei,Arial, Helvetica, sans-serif;color:#333;background:#e5e5e5}
table{width:100%; border-collapse:collapse;border:none;border-spacing:0}
a{color:#202020;text-decoration:none;}
img{border:none}
input{vertical-align:middle;outline:none}
textarea{outline:none;}
ul,ol,dl{list-style:none;}
b,em,i,u,strong{font-weight:normal;font-style:normal;text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:normal;}

/*公共样式*/
.fl{float:left;}
.fr{float:right;}
.clearfix{overflow:hidden;zoom:1}
.clear{clear:both}





/**2015-05-11**/
.leftDtika{position:relative;padding-bottom:50px;}
.leftCard{position:absolute;top:0;left:0;width:149px;min-height:323px;height:auto !important;background:#FFF;border:solid 1px #d6d6d6;padding:10px;border-right:none;}
.leftCard h3{padding-top:10px;height:30px;line-height:30px;}
.leftCard a{float:left;width:23px;height:16px;border:solid 1px #cecece;border-radius:3px;line-height:16px;text-align:center;margin-right:6px;margin-top:10px;margin-left:4px}
.leftCard a:hover,.leftCard a.current{background:#86b430;border:solid 1px #6f8e30;color:#FFF}
.leftContent{margin-left:182px;border:solid 1px #dadada;}
.titleCon{padding:10px;background:#f4f4f4;line-height:30px;border-bottom:solid 1px #dadada}
.titleCon i{  width: 55px;font-size: 24px;text-align: center;}
.titleFont{font-size:16px;width:720px}
.answerQrea{min-height:169px;padding:20px;font-size:14px}
.answerQrea ul li{padding:5px 0}
.answerQrea ul li i{display:inline-block;width:11px;height:11px;border:solid 1px #cecece;border-radius:11px;margin:0 5px;margin-top:5px}
.answerQrea ul li i.right{background:#86ae27;border:solid 1px #6e8d30}
.answerQrea ul li span{margin:0 5px;color:#d2d2d2}
.leftBottom{height:28px;padding:12px 20px;background:#f4f4f4;border-top:solid 1px #e4e4e4;text-align:center;line-height:28px}
.saveYl{display:inline-block;height:28px;padding:0 20px;color:#FFF;background:#7b9e31;border-radius:2px;font-size:14px;margin-left:30px}
.saveYl:hover{background:#4b6f00; color:#FFF;}
.saveYl01{display:inline-block;height:28px;padding:0 20px;color:#FFF;background:#ccc;border-radius:2px;font-size:14px;margin:0 30px}
.saveYl01:hover{background:#ccc; color:#FFF;}

/**2015-05-14**/
.wid920{width:920px;margin:0 auto;padding:0 40px;background:#fff;min-height:650px}
/*二级导航*/
.CyTop{height:42px;border-bottom:solid 2px #d9d9d9;padding-top:12px;line-height:42px;}
.CyTop ul.ul01 li{float:left;position:relative;height:42px;color:#999;_bottom:-2px;}
.CyTop ul.ul01 li.cur a{color:#202020}
.CyTop ul.ul01 li a {padding:0 12px;font-size:16px;color:#999;}
.fontRed{color:#b10000}
/*返回*/
.Reback{height:46px;line-height:46px;padding-top:5px;}
.Reback a{font-size:14px; color:#7b9e31;}
.Reback i{ width:13px; height:15px; background:url(../images/icons.png) -40px -116px no-repeat; float:left; margin-right:5px; margin-top:16px;}
.Reback a:hover{color:#5d7d18}